<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ExceptionPath" value="D:\Ravi\Personal\MCG\PayrollerManager\Exception\exception_$.txt"/>
    <add key="LogPath" value="D:\Ravi\Personal\MCG\PayrollerManager\Log\log_$.txt"/>
    <add key="DocumentPath" value="D:\Ravi\Personal\MCG\PayrollerManager\Data\Documents\"/>
    <add key="Datafile" value="D:\Ravi\Personal\MCG\PayrollerManager\Data\userdetails.json"/>
    <add key="Salaryfile" value="D:\Ravi\Personal\MCG\PayrollerManager\Data\salarydetails.json"/>    
    <add key="JoiningLetterFormat" value="D:\Ravi\Personal\MCG\PayrollerManager\PayrollerManager\JoiningLetterformat.html"/>   
    <add key="JoiningLetterPath" value="D:\Ravi\Personal\MCG\PayrollerManager\Data\Joining Letter\"/>
    <add key="BaseUrlPath" value="D:\Ravi\Personal\MCG\PayrollerManager\PayrollerManager"/>
    <add key="SalarySlipFormat" value="D:\Ravi\Personal\MCG\PayrollerManager\PayrollerManager\SalarySlip.html"/>
    <add key="SalarySlipPath" value="D:\Ravi\Personal\MCG\PayrollerManager\Data\Salary Slip\"/>
  </appSettings>
</configuration>
